[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = Washington DC
L   = Washington DC
O   = Broker
OU  = broker-server
CN  = 10.241.0.5

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.241.0.5

